* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #d6dbda;

    section {
        padding: 2rem 0;

        .container {
            padding: 2rem 0;
        }
    }
    
    p {
        text-align: center;
    }
    
    ul {
        list-style: none;
        padding-left: 0;   
    }
    
    a {
        text-decoration: none;
    }
}

header {
    background-color: whitesmoke;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    img {
        height: 15rem;
        cursor: pointer;
        padding-left: 1rem;
        margin-bottom: 0.5rem;
    }
    div {
        nav {
            div {
                background-color: lightseagreen;
                ul {
                    width: 100%;
                    display: flex;
                    li {
                        text-align: center;
                        flex-grow: 1;
                        transition: 0.5s all ease;
                        &:hover {
                            background-color: rgba(0, 0, 0, 0.2);
                        }
                        a {
                           display: block;
                           padding: 10px 20px;
                           text-decoration: none;
                           color: whitesmoke;
                           font-weight: 500;
                           font-size: 16px;
                           transition: 0.5s all ease;
                           &:hover {
                               color: whitesmoke;
                           }
                        }
                    }
                }     
            }
        }
    }
    .nav {
        padding: 0;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url(../assets/588a64e0d06f6719692a2d10.png)
    }
}

footer {
    padding: 1rem 0 1rem 0;
    background-color: #333;
    color: white;
    div {
        ul {
            li {
                iframe {
                    width: 250px;
                    height: auto;
                }
            }
        }
    } 
    a {
        color: white;
        i{
            color: white;
        }
    }
}

$headings: (
    h1: 2.5rem,
    h2: 1.5rem,
    h3: 1.2rem,
    h4: 1rem,
    h5: 1rem,
);

$h1: map-get($headings, h1);

h1 {
    font-size: $h1;
    text-transform: uppercase;
}

$h2: map-get($headings, h2);

h2 {
    font-size: $h2;
    text-align: center;
    margin: 1rem;
    color: rgb(58, 57, 57);
}

$h3: map-get($headings, h3);

h3 {
    font-size: $h3;
    text-align: center;
    margin: 1rem;
    color: rgb(58, 57, 57);
}

$h4: map-get($headings, h4);

h4 {
    font-size: $h4;
    text-align: center;
    margin-top: 1rem;
    text-transform: uppercase;
    color: rgba(75, 71, 71, 0.8);
}

$h5: map-get($headings, h5);

h5 {
    font-size: $h5;
    text-align: center;
    margin: 0.5rem 0;
}