* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #d6dbda;

    section {
        padding: 2rem 0;

        .container {
            padding: 2rem 0;
        }
    }
    
    p {
        text-align: center;
    }
    
    ul {
        list-style: none;
        padding-left: 0;   
    }
    
    a {
        text-decoration: none;
        color: black;
    }
}

header {
    background-color: whitesmoke;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

    img {
        height: 15rem;
        cursor: pointer;
        padding-left: 1rem;
        margin-bottom: 0.5rem;
    }


    nav {
        .div {
            padding: 0;
            background-color: lightseagreen;
            ul {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                li {
                    background-color: lightseagreen;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
        
                    // &:hover {
                    //     background-color: #d6dbda;
                    //     transition: 0.3s all ease;
                    // }
        
                    &:nth-child(6){
                        justify-content: end;
                        padding-right: 1rem;
                    }

                    &:nth-child(7){
                        padding-right: 1rem;
                    }
                
                    a {
                        text-decoration: none;
                        color: whitesmoke;
                        font-weight: 500;
                        font-size: 16px;
                        transition: 0.3s all ease;
    
                        &:hover {
                            color: #333;
                        }
                    }

                    .d-flex {
                        .btn {
                            border: none;
                            background-color: lightseagreen;
                        } 
                    }
                }
            }
        }
    }
}

footer {
    padding: 1rem 0 1rem 0;
    i{
        color: #333;
    }
}

$headings: (
    h1: 2.5rem,
    h2: 1.5rem,
    h3: 1.2rem,
    h4: 1rem,
    h5: 1rem,
);

$h1: map-get($headings, h1);

h1 {
    font-size: $h1;
    text-transform: uppercase;
}

$h2: map-get($headings, h2);

h2 {
    font-size: $h2;
    text-align: center;
    margin: 1rem;
    color: rgb(58, 57, 57);
}

$h3: map-get($headings, h3);

h3 {
    font-size: $h3;
    text-align: center;
    margin: 1rem;
    color: rgb(58, 57, 57);
}

$h4: map-get($headings, h4);

h4 {
    font-size: $h4;
    text-align: center;
    margin-top: 1rem;
    text-transform: uppercase;
    color: rgba(75, 71, 71, 0.8);
}

$h5: map-get($headings, h5);

h5 {
    font-size: $h5;
    text-align: center;
    margin: 0.5rem 0;
}