@media all and (max-width: 1023px) {
    header {  
        img {
            height: 12rem;
            cursor: pointer;
            padding-left: 0;
            margin-bottom: 0.5rem;
        }
    }  
    main {
        .sectionServicios {
            .pServicios {
            padding: 0 0 2rem 0;           
            }
        }
    }
}

@media all and (max-width: 768px) {
    main {
        .sectionServicios {
            max-width: 100%;
        }

        form {
            width: 60%;
            margin: 0 auto;
        }
    }
    footer {
        padding: 2rem 0;
    }
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 100%;
    }
}

