.encabezadoProductos {
    background-image: url(../assets/img/fondos/productos.jpg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.areaProductos {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;

    .asideProductos {
        padding-left: 30px;
        padding-top: 50px;
    }
    
    .mainProductos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 30px;
        place-content: center;
        align-items: center;
        padding: 50px 30px;
        text-align: center;
    }

    .imgServicios {
        width: 200px;
        height: 200px;
        padding-bottom: 5px;
        transition: transform 0.5s;
        overflow: hidden;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }
}
