@import "CSS/variables";
@import "CSS/global";
@import "CSS/index";
@import "CSS/servicios";
@import "CSS/productos";
@import "CSS/nosotros";
@import "CSS/contacto";

.cajaSombreada {
    box-shadow: $boxShadow;
}

.img {
    width: 20rem;
    height: 14rem;
    cursor: pointer;
    transition: transform 0.5s;
    overflow: hidden;

    &:hover {
        transform: scale(1.1);
    }
}


@media all and (max-width: 1023px) {
    main {
        .contenedorElegidos {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            justify-content: center;
            gap: 2rem;
        }

        .contenedorServicios {
            .flexServicios {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        
        .contenedorProductos {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
        }

    }


    .areaServicios {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        .asideServicios {
            display: none;
        }

        .mainServicios {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            gap: 30px;
            place-content: center;
            padding: 50px 30px;
        }
    }

    .areaProductos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        .asideProductos {
            display: none;
        }

        .mainProductos {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            gap: 30px;
            place-content: center;
            padding: 50px 30px;
            text-align: center;
        }
    }
}

@media all and (max-width: 768px) {
    header {
        nav {
            display: none;
        }

        span {
            display: flex;
            flex-direction: row;
            justify-content: start;
            background-color: lightseagreen;
            padding: 5px 20px;
        }

        a {
            text-decoration: none;
        }
    }

    main {
        .contenedorElegidos {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;
            justify-content: center;
            gap: 2rem;
        }
    
        .contenedorServicios {
            display: grid;
            row-gap: 4rem;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;
            padding: 20px 0;
        }
    
        .contenedorProductos {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;
        }

        form {
            width: 60%;
            margin: 0 auto;
        }
    }

    footer {
        padding: 2rem 0;
        .contenedorFooter {  
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(auto);
            row-gap: 20px;
            text-align: center;
        }
    }
    
    .flexNosotros {
        display: flex;
        flex-direction: column;
        margin: 0px 40px;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 40px;

        .textoNosotros {
            padding-bottom: 50px;
        }
    }

    .areaServicios {
        .mainServicios {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;
            gap: 30px;
            place-content: center;
            padding: 50px 30px;
        }
    }

    .areaProductos {
        .mainProductos {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;
            gap: 30px;
            place-content: center;
            padding: 50px 30px;
            text-align: center;
        }    
    }
}
